{% extends "base.html" %}

	 
		

		{% block content %}
			
<div class="container tmarg">
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <form name="PostEntryForm" action="../../newpostentry/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Submit" />
                </form>
            </div>
            <div class="col-md-4">
                
            </div>
            
        </div>
    </div>


		{% endblock %}

