<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <p>Hi {{ user }}!,</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero qui natus, doloremque dolorem aspernatur, expedita debitis repudiandae in. Ex est, fugiat ipsa iusto. Nesciunt recusandae reprehenderit, vero minus dolor quia.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut voluptatibus quo expedita molestias quidem deserunt ipsum dolorum unde esse, iste corporis sunt, iure ipsam, nihil quos labore magni quisquam atque.</p>

    <p>Again, Welcome. We hope your experience is a pleasant one.</p>

    <p>The AssetPost Team</p>
</body>
</html>