<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<title>ACME – Project InBox</title>
		
		<link rel="stylesheet"  href="../../../../site_media/css/inbox_styles.css" />
		<link href="../../../../site_media/css/bootstrap.min.css" rel="stylesheet" /></link>
		<link href="../../../../site_media/css/tabs.css" rel="stylesheet" /></link>
		<link href="../../../../site_media/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /></link>
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
		
		<script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>	
		<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>
		<script type="text/javascript" language="javascript" src="../../../../site_media/js/jquery.tablesorter.min.js"></script>  
		<script type="text/javascript" src="../../../../site_media/js/moment.js"></script>
		<script type="text/javascript" src="../../../../site_media/js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="../../../../site_media/js/bootstrap-datetimepicker.min.js"></script>
		
		
	
			<script>
			$(document).ready(function() {
				$( "#list_in" ).click(function() {
					$('.tlist').css('display', 'none');
					$('#personal_tlist').fadeIn(1000, function() { });
				});
				$( "#list_out" ).click(function() {
					$('.tlist').css('display', 'none');
					$('#assigned_tlist').fadeIn(1000, function() { });
				});	
				$( "#list_studio" ).click(function() {
					$('.tlist').css('display', 'none');
					$('#studio_tlist').fadeIn(1000, function() { });
				});
				$( "#list_creative" ).click(function() {
					$('.tlist').css('display', 'none');
					$('#creative_tlist').fadeIn(1000, function() { });
				});					
			 });
		
			</script>
		
			<style type="text/css">
			/*a{line-height:0;}*/
			p{margin:0;}
			html {width:880px;height:400px;}
			body{font-family:Helvetica, Arial, sans-serif;font-size:10px; font-weight:bold;color:#777;width:1200px;height:800px;}
			input{width:300px;}
			select{font-size:10px;max-width:150px;}
			thead tr th{padding-bottom:7px;}
			th{padding:2px 5px;}
			td{padding:2px 5px; max-width:250px;overflow:hidden;font-weight:normal;}
			td > .container{max-width:200px;padding:0;}
			table.display_table td{max-width:300px;}
			input#inbox_submit_btn, input#inbox_delete_btn{display:inline;width:100px;}
			#contact_box{position:relative; display:block;width:1400px;}
			.status_cell{font-weight:bold;color:maroon;}
			.shell{z-index:500;}
			.tlist{position:absolute;left:40px;top:360px;}
			#personal_tlist{display:block;}
			#assigned_tlist, #studio_tlist, #creative_tlist{display:none;}
			.formdiv{
				display:inline-block;padding:10px;margin:15px;border: 1px solid #333;
			}
			.required{font-color:maroon;font-weight:bolder;}
			label{font-size:1.1em;}
			#admin_console{display:none;}
			.round{
						border: 1px solid #eee;
						border: 1px solid rgba(0, 0, 0, 0.05);
						-webkit-border-radius: 4px;
						-moz-border-radius: 4px;
						border-radius: 4px;
						padding: 10px;
						margin-bottom: 5px;
					}
			.edit_btn{width:40px;}
			#id_cell_number{width:60px;height:15px;font-size:11px;}
			#id_job_number{width:90px;height:15px;font-size:11px;}
			#id_job_name{width:200px;height:15px;font-size:11px;}
			#id_basecamp_link{max-width:150px;height:15px;font-size:11px;}
			.basecamp, .note{max-height:15px;overflow:hidden;max-width:150px;}
			#id_note{max-width:150px;height:15px;font-size:11px;font-color:maroon;}
			#id_assigned_team{max-height:30px;}
			#id_date_due, #id_completed_on{width:160px;font-size:10px;height:15px;}
			#logo_wrapper {position:relative; display:block; top:0; left: 0; width:880px; height:60px; background-color:white;}

			#logo_temp{ position:relative; display:block;  left:920px; width:242px; height:36px;  margin-top:22px; background-image:url('../../../../../../site_media/images/logos/acme_logo_242x36.jpg'); background-repeat:no-repeat; border:none; }
			#form_div{padding:25px 30px 25px 50px;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;background-color:#ddd;width:1050px;}
			label{font-size:9px;}
			#taskbox_form{width:950px;}
.tooltip {
    display:none;
    background-color:#000;
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
  }
  #tbox_menu li {display:inline;padding:10px;margin:3px;list-style:none;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;background-color:#ddd;cursor:pointer;}
  #tbox_menu li:hover {background-color:#efefef;}
			</style>
  
</head>



<body>
	<div class="container">
		<div id="logo_wrapper">
		    <a href="../../main/"><span id="logo_temp" class=""></span></a>
	    </div>
		<div id="form_div">
			<form id="taskbox_form" action="." method="POST">{% csrf_token %}
		{{ form.non_field_errors }}
		<table id="inbox_table">
			<tr>
				<td colspan="6">
					<div class="fieldWrapper">
	        		{{ form.assigned_by.errors }}
	        		<label for="id_assigned_by" class="required">Assigned by:</label>
	        		{{ form.assigned_by }}
	    			</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="fieldWrapper">
	        		{{ form.job_number.errors }}
	        		<label for="id_job_number" class="required">job no/id:</label><br />
	        		{{ form.job_number }}
	    			</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        		{{ form.cell_number.errors }}
	        		<label for="id_cell_number">cell/s:</label><br />
	        		{{ form.cell_number }}
					</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        			{{ form.job_name.errors }}
	        			<label for="id_job_name" class="required">job name:</label><br />
	        			{{ form.job_name }}
	    			</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        			{{ form.request.errors }}
	        			<label for="id_request">request:</label><br />
	        			{{ form.request }}
	    			</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        			{{ form.note.errors }}
	        			<label for="id_note">note:</label><br />
	        			{{ form.note }}
	    			</div>
				</td>
				<td>
					<div class="container">
	                      <!--  <div class='well'> -->
	                            <div class="form-group">
	                                <div class='input-group date' id='datetimepicker1'>
										{{ form.date_due.errors }}
					        			<label for="id_date_due" class="required">date_due:</label>
					        			{{ form.date_due}}
	                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	                                    </span>
	                                </div>
								</div>
	                        <!--    </div> -->
	                        <script type="text/javascript">
	                            $(function () {
	                                $('#datetimepicker1').datetimepicker();
	                            });
	                        </script>
	                 </div>
				  </td>
			  </tr>
			  <tr>
				<td>
					<div class="fieldWrapper">
	        			{{ form.box.errors }}
	        			<label for="id_box" class="required">inbox:</label><br />
	        			{{ form.box }}
	    			</div>
				</td>
				<td>
					<div class="fieldWrapper">
        				{{ form.assigned_to.errors }}
        				<label for="assigned_to">assigned_to:</label><br />
        				{{ form.assigned_to }}
    				</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        			{{ form.basecamp_link.errors }}
	        			<label for="id_basecamp_link">basecamp:</label><br />
	        			{{ form.basecamp_link }}
	    			</div>
				</td>
				<td>
					<div class="accepted_by">
	        			{{ form.accepted_by.errors }}
	        			<label for="id_accepted_by">accepted_by:</label><br />
	        			{{ form.accepted_by }}
	    			</div>
				</td>
				<td>
					<div class="fieldWrapper">
	        			{{ form.status.errors }}
	        			<label for="id_status">status:</label><br />
	        			{{ form.status }}
	    			</div>
				</td>
				<td>
					<div class="container">
	                      <!--  <div class='well'> -->
	                            <div class="form-group">
	                                <div class='input-group date' id='datetimepicker2'>
										{{ form.completed_on.errors }}
					        			<label for="id_completed_on">completed:</label>
					        			{{ form.completed_on}}
	                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
	                                    </span>
	                                </div>
								</div>
	                        <!--    </div> -->
	                        <script type="text/javascript">
	                            $(function () {
	                                $('#datetimepicker2').datetimepicker();
	                            });
	                        </script>
	                 </div>
				  </td>
			   </tr>
			   <tr>
				 <td>
					<p><input id="inbox_submit_btn" onclick="validateForm();" type="submit" value="add" /></p>
				 </td>
				 <td>
					<p><input id="inbox_delete_btn" name="delete" type="submit" value="delete" /></p>
				 </td>
			  
			  </tr>	
		  </table>
		
	</form>
		</div> <!-- end form div -->
	<br />
	<br />	<ul id="tbox_menu">
				<li id="list_in">{{ user.first_name }}'s Tasklist - In</li>
				<li id="list_out">{{ user.first_name }}'s Tasklist - Out</li>
				<li id="list_studio">WRMS Studio Tasklist</li>
				<li id="list_creative">WRMS Creative Tasklist</li>
			</ul>
		
	
		      <!-- the items -->
		      <div id="personal_tlist" class="tlist">
				  	
					<h4>{{ user.first_name }}'s Tasklist</h4>
					<table id="personal_table" class="display_table">
					  <thead>
						<tr>
							<th> </th>
							<th>from</th>
							<th>job number</th>
							<th>cell no</th>
							<th>job name</th>
							<th>request</th>
							<th>note</th>
							<th>date in</th>
							<th>basecamp link</th>
							<th>accepted_by</th>
							<th>status<th>
							<th>completed<th>
						</tr>
					  </thead>
					  <tbody>
							{% if records %}
							{% for record in records %}
						<tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="_{{ record.id }}">
							<td><a href="../../../edit-inbox/{{ record.id }}/{{ request.user.get_profile.id }}"><input type="button" class="edit_btn" value="edit" /></a></td>
							<td><a href="mailto:{{ record.assigned_by.email }}?subject=taskbox:&nbsp;{{ record.job_number }}-{{ record.cell_number }}&nbsp;&nbsp;{{ record.job_name }}">{{ record.assigned_by }}</a></td>
							<td>{{ record.job_number }}</td>
							<td>{{ record.cell_number }}</td>
							<td>{{ record.job_name }}</td>
							<td>{{ record.request }}</td>
							<td><div class="note"><a title="{{ record.note }}" href="#">{{ record.note }}</a></div></td>
							<td>{{ record.date_due }}</td>
							<td><div class="basecamp"><a href="{{ record.basecamp_link }}/" target="_blank">{{ record.basecamp_link }}</a></div></td>
							<td><a href="mailto:{{ record.accepted_by.email }}?subject=taskbox:&nbsp;{{ record.job_number }}-{{ record.cell_number }}&nbsp;&nbsp;{{ record.job_name }}">{{ record.accepted_by }}</a></td>
							<td class="status_cell">{{ record.status }}</td>
							<td> </td>
							<td>{{ record.completed_on }}</td>
							
							  		{% endfor %}
									{% else %}
									{% endif %}
							</div>
						
						</tr>
						
						
					  </tbody>
					</table>
			  </div>
			  
		      <div id="assigned_tlist" class="tlist">
				  	
					<h4>{{ user.first_name }}'s Assigned Tasks</h4>
					<table id="assigned_table" class="display_table">
					  <thead>
						<tr>
							<th> </th>
							<th>from</th>
							<th>job number</th>
							<th>cell no</th>
							<th>job name</th>
							<th>request</th>
							<th>note</th>
							<th>date in</th>
							<th>basecamp link</th>
							<th>accepted_by</th>
							<th>status<th>
							<th>completed<th>
						</tr>
					  </thead>
					  <tbody>
								{% if assignedrecords %}
								{% for assignedrecord in assignedrecords %}
							<tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="_{{ assignedrecord.id }}">
								<td><a href="../../../edit-inbox/{{ assignedrecord.id }}/{{ request.user.get_profile.id }}"><input type="button" class="edit_btn" value="edit" /></a></td>
								<td><a href="mailto:{{ assignedrecord.assigned_by.email }}?subject=taskbox:&nbsp;{{ assignedrecord.job_number }}-{{ assignedrecord.cell_number }}&nbsp;&nbsp;{{ assignedrecord.job_name }}">{{ assignedrecord.assigned_by }}</a></td>
								<td>{{ assignedrecord.job_number }}</td>
								<td>{{ assignedrecord.cell_number }}</td>
								<td>{{ assignedrecord.job_name }}</td>
								<td>{{ assignedrecord.request }}</td>
								<td><div class="note"><a title="{{ assignedrecord.note }}" href="#">{{ assignedrecord.note }}</a></div></td>
								<td>{{ assignedrecord.date_due }}</td>
								<td><div class="basecamp"><a href="{{ assignedrecord.basecamp_link }}/" target="_blank">{{ assignedrecord.basecamp_link }}</a></div></td>
								<td><a href="mailto:{{ assignedrecord.accepted_by.email }}?subject=taskbox:&nbsp;{{ assignedrecord.job_number }}-{{ assignedrecord.cell_number }}&nbsp;&nbsp;{{ assignedrecord.job_name }}">{{ assignedrecord.accepted_by }}</a></td>
								<td class="status_cell">{{ assignedrecord.status }}</td>
								<td> </td>
								<td>{{ assignedrecord.completed_on }}</td>
							
							  		{% endfor %}
									{% else %}
									{% endif %}
							</div>
						
						</tr>
						
						
					  </tbody>
					</table>
			  </div>
			  
			  
			  
		      <div id="studio_tlist" class="tlist">
					<h4>WRMS Studio Taskbox</h4>
					<table id="studio_table" class="display_table">
					  <thead>
						<tr>
							<th> </th>
							<th>from</th>
							<th>job number</th>
							<th>cell no</th>
							<th>job name</th>
							<th>request</th>
							<th>note</th>
							<th>date in</th>
							<th>basecamp link</th>
							<th>accepted_by</th>
							<th>status<th>
							<th>completed<th>
						</tr>
					  </thead>
					  <tbody>
						  	{% if studiorecords %}
							{% for studiorecord in studiorecords %}
						<tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="_{{ studiorecord.id }}">
							<td><a href="../../../edit-inbox/{{ studiorecord.id }}/{{ request.user.get_profile.id }}"><input type="button" class="edit_btn" value="edit" /></a></td>
							<td><a href="mailto:{{ studiorecord.assigned_by.email }}?subject=taskbox:&nbsp;{{ studiorecord.job_number }}-{{ studiorecord.cell_number }}&nbsp;&nbsp;{{ studiorecord.job_name }}">{{ studiorecord.assigned_by }}</a></td>
							<td>{{ studiorecord.job_number }}</td>
							<td>{{ studiorecord.cell_number }}</td>
							<td>{{ studiorecord.job_name }}</td>
							<td>{{ studiorecord.request }}</td>
							<td><div class="note"><a class="trigger" href="#">{{ studiorecord.note }}</a></div></td>
							<td>{{ studiorecord.date_due }}</td>
							<td><div class="basecamp"><a href="{{ studiorecord.basecamp_link }}/" target="_blank">{{ studiorecord.basecamp_link }}</a></div></td>
							<td><a href="mailto:{{ studiorecord.accepted_by.email }}?subject=taskbox:&nbsp;{{ studiorecord.job_number }}-{{ studiorecord.cell_number }}&nbsp;&nbsp;{{ studiorecord.job_name }}">{{ studiorecord.accepted_by }}</a></td>
							<td class="status_cell">{{ studiorecord.status }}</td>
							<td> </td>
							<td>{{ studiorecord.completed_on }}</td>
			
							  		{% endfor %}
									{% else %}
									{% endif %}
							</div>
						
			
						</tr>
						
					  </tbody>
					</table>
			  </div>
			  
			  
			  
		      <div id="creative_tlist" class="tlist">
					<h4>WRMS Creative Taskbox</h4>
					<table id="creative_table" class="display_table">
					  <thead>
						<tr>
							<th> </th>
							<th>from</th>
							<th>job number</th>
							<th>cell no</th>
							<th>job name</th>
							<th>request</th>
							<th>note</th>
							<th>date in</th>
							<th>basecamp link</th>
							<th>accepted_by</th>
							<th>status<th>
							<th>completed<th>
						</tr>
					  </thead>
					  <tbody>
						  	{% if creativerecords %}
							{% for creativerecord in creativerecords %}
						<tr class="list_row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}" id="_{{ creativerecord.id }}">
							<td><a href="../../../edit-inbox/{{ creativerecord.id }}/{{ request.user.get_profile.id }}"><input type="button" class="edit_btn" value="edit" /></a></td>
							<td><a href="mailto:{{ creativerecord.assigned_by.email }}?subject=taskbox:&nbsp;{{ creativerecord.job_number }}-{{ creativerecord.cell_number }}&nbsp;&nbsp;{{ creativerecord.job_name }}">{{ creativerecord.assigned_by }}</a></td>
							<td>{{ creativerecord.job_number }}</td>
							<td>{{ creativerecord.cell_number }}</td>
							<td>{{ creativerecord.job_name }}</td>
							<td>{{ creativerecord.request }}</td>
							<td><div class="note"><a class="trigger" href="#">{{ creativerecord.note }}</a></div></td>
							<td>{{ creativerecord.date_due }}</td>
							<td><div class="basecamp"><a href="{{ creativerecord.basecamp_link }}/" target="_blank">{{ creativerecord.basecamp_link }}</a></div></td>
							<td><a href="mailto:{{ creativerecord.accepted_by.email }}?subject=taskbox:&nbsp;{{ creativerecord.job_number }}-{{ creativerecord.cell_number }}&nbsp;&nbsp;{{ creativerecord.job_name }}">{{ creativerecord.accepted_by }}</a></td>
							<td class="status_cell">{{ creativerecord.status }}</td>
							<td> </td>
							<td>{{ creativerecord.completed_on }}</td>
			
					
			
						</tr>
						{% endfor %}
						{% else %}
						{% endif %}
					  </tbody>
					</table>
			  
			  </div>
 
		    </div>
 
		  </div>
		
		<div>
			
				<script type="text/javascript">
				$(function(){
					var projectArray = document.getElementsByClassName('status_cell');
					for (i=0; i< projectArray.length; i++){
						if (projectArray[i].innerHTML === "In Progress"){
							projectArray[i].parentNode.style.backgroundColor = "#54fe47";
						}else if (projectArray[i].innerHTML === "Awaiting Action"){
							projectArray[i].style.backgroundColor = "#ffffff";
						}else if (projectArray[i].innerHTML === "Posted" ||  projectArray[i].innerHTML === "Basecamp"){
							projectArray[i].parentNode.style.backgroundColor = "#fec447";
						}else if (projectArray[i].innerHTML === "Completed"){
							projectArray[i].parentNode.style.backgroundColor = "#cccccc";
						}else if (projectArray[i].innerHTML === "Released"){
							projectArray[i].parentNode.style.backgroundColor = "#333";
							projectArray[i].parentNode.style.color = "#fff";
						}
					}
				})

				$('#inbox_form').submit(function() {
					  var parameters = {	
				         				userAgent: 'WRMS Project Database (kchukes@wilsonrms.com)',
									    contentType: 'application/json; charset=utf-8',
									    data: { "subject": "This is a Test Message", "content": "This is test content. Please disregard if notified." },
								};
				      $.ajax({
							url: $(this).attr('action'),
							type : "POST",
							dataType: "json",
							data : {
								client_response : parameters,
								csrfmiddlewaretoken: '{{ csrf_token }}'
								},
							success : function(json) {
								$('#result').append( 'Server Response: ' + json.server_response);
								},
							error : function(xhr,errmsg,err) {
									alert(xhr.status + ": " + xhr.responseText);
								},
							
				     	});
						return false;
				});

				

				
				function validateForm(){
					var assignedby = $('select#id_assigned_by').val();
					var jobnumber = $('input#id_job_number').val();
					var jobname = $('input#id_job_name').val();
					var duedate = $('input#id_due_date').val();
					var inbox = $('iselect#id_box').val();
					if (assignedby.length > 0 || jobnumber.length > 0 || jobname.length > 0 || duedate.length > 0 || inbox.length > 0 ) {
						
					}else {
						alert ("Please provide all required information");
						return false;
					}
					end.focus();
				}
				$(document).ready(function() {
					$(".note a.[title]").tooltip({ position: "center right", offset: [-10, 10],});
				});

				function postMessage(theUrl){
				    var xmlHttp = null;

				    xmlHttp = new XMLHttpRequest();
				    xmlHttp.open( "GET", theUrl, false );
				    xmlHttp.send( null );
				    return xmlHttp.responseText;
				}
				$(document).ready(function() {
					$(".note a.[title]").tooltip({ position: "center right", offset: [-10, 10],});
				});
				
				</script>
					
					
			</div>  
				
 
		</div>
		
	</div>
		
</body>
</html>

