{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% crispy postsearch_form postsearch_form.helper %}

{% csrf_token %}




		{% block head_content %}
        <script src="{% static 'js/bootstrap-table.js' %}"></script>
        <script>
        function dateSorter(a, b) {
            a = Date.parse(a).getTime()/1000;
            b= Date.parse(b).getTime()/1000;
            return (a-b);
        }
        </script>
        <style>
        .fixed-table-container {
            border: 0 solid #dddddd;
            font-size: .9em;
        }
        .fixed-table-container tbody td {
            border: 0 solid #dddddd;
        }
        #page_table{font-size: .9em;border: 0 solid #dddddd;}
        .bootstrap-table .table, .bootstrap-table .table > tbody > tr > th, .bootstrap-table .table > tfoot > tr > th, .bootstrap-table .table > thead > tr > td, .bootstrap-table .table > tbody > tr > td, .bootstrap-table .table > tfoot > tr > td {
            padding: 0px 2px !important; border: 0 solid #dddddd;
        }
        .fixed-table-container thead th .th-inner {
            line-height: 1;
        }
        .fixed-table-container thead th {
            border-left: 0 solid #dddddd;
        }
        .fixed-table-container thead th {
            border-left: 0px solid #dddddd;
        }
        .bootstrap-table .table > thead > tr > th {
            border-bottom: 0px solid #ddd;
        }

        summary::-webkit-details-marker {
            color:blue;
        }

        details[open] summary::-webkit-details-markeblue#0000FF;
        }
        </style>
        <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
    <![endif]-->
		{% endblock %}


{% block content %}
	<iframe id="inbox_frame" src="" width="100%" height="100%"></iframe>
	<div id="list_controls" class="container stage">
		<div class="row searchform">
			<div class="col-md-12">
				<div class="well">
					
                    {% crispy form %}
                   <!-- <details>
                        <summary>Page Information</summary>
                        <p>Entering a client name or job number in the main search field yields post pages and records associated with your search term. 
                        <p>Entering a valid job number in the upper search field enables the QuckPost module, while entering a job number in the upper search field AND choosing a client from the pulldown menu will enable the Multipost module. 
                        <p>Finally, track your specific tasks via the Taskmanager module.
                    </details> -->
                    
				</div>
			</div>
		</div>
		<div class="row">
				{% if records or cellrecords %}
	   		<div class="col-md-5">
	   			<div class="well">
                  <h4>pages</h4> 
                    <table  
                            data-toggle="table"  
                            data-query-params="queryParams"
                            data-pagination="true"
                            data-search="true">
                        <thead>
                            <tr>
                                <th data-field="client"  data-sortable="true">client</th>
                                <th data-field="id"  data-sortable="true">id</th>
                                <th data-field="name"  data-sortable="true">name</th>
                                <th data-field="created" data-sorter="dateSorter">created</th>
                                <th data-field="edit"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in records %}
                            <tr>
                                <td>{{ record.client }}</td>
                                <td>{{ record.job_number }}</td>
                                <td><a href="{% url 'display_record' record.job_number %}" target="_blank">{{ record.job_name }}</a></td>
                                <td>{{ record.create_date }}</td>
                                <td><a href="{% url 'assetpost:update_page' record.id %}"><input type="button" value="edit" class="list_tb_btn" /></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
		 		</div>
		 	</div>
			<div class="col-md-7">
	   			<div class="well">
                  <h4>entries</h4>
					<table  
                            data-toggle="table"  
                            data-query-params="queryParams"
                            data-pagination="true"
                            data-search="true">
                        <thead>
                            <tr>
                                <th data-field="client"  data-sortable="true">client</th>
                                <th data-field="id"  data-sortable="true">id</th>
                                <th data-field="cell"  data-sortable="true">cell</th>
                                <th data-field="name"  data-sortable="true">name</th>
                                <th data-field="type" data-sortable="true">type</th>
                                <th data-field="round" data-sortable="true">round</th>
                                <th data-field="created" data-sorter="dateSorter">created</th>
                                <th data-field="edit"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cellrecord in cellrecords %}
                            <tr>
                                <td>{{ cellrecord.client }}</td>
                                <td>{{ cellrecord.job_number }}</td>
                                <td>{{ cellrecord.cell_number }}</td>
                                <td><a href="{% url 'display_record' cellrecord.job_number %}" target="_blank">{{ cellrecord.post_title }}</a></td>
                                <td>{{ cellrecord.post_type }}</td>
                                <td>{{ cellrecord.post_round }}</td>
                                <td>{{ cellrecord.date }}</td>
                                <td><a href="{% url 'assetpost:updateEntry' cellrecord.id %}"><input type="button" value="edit" class="list_tb_btn" /></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    

                    <script>
                    var $table = $('#table');

                    $(function () {
                    });
                    function queryParams() {
                        return {
                            type: 'owner',
                            sort: 'updated',
                            direction: 'desc',
                            per_page: 100,
                            page: 1
                        };
                    }
                    </script>
                        

                </div>
            </div>
		{% else %}
		{% endif %}
			
		</div>	
			  
    </div>
{% endblock %}
