{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

     {% block head_content %}
     <style type="text/css">
        .clearablefileinput{font-size:.6em;}
        label{font-size: .8em;}
     </style> 
        {% endblock %}
        {% block content %} 
<iframe id="inbox_frame" src="" width="100%" height="100%"></iframe> 
<div class="container tmarg">
    <div class="row">


            <form name="PostEntryForm" action="{% url 'assetpost:multipost' %}"  method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ formset.management_form }}
                  {% for form in formset %}
                  <div class="col-md-2">
                      <div class="well">
                          {{ form|crispy }}
                      </div>
                  </div>
                    {% endfor %}
                
                <input type="submit" value="Submit" />
            </form>

      
        
    </div>
</div>


        {% endblock %}

